html {
  font: 100%/1.15 'Cambay';
  scroll-behavior: smooth;
  padding-top: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

ul {
  width: 300px;
  display: inline-block;
  text-align: center;
  list-style: none;
}

body {
  padding: 0 5%;
  margin: 0 auto;
  max-width: 1400px;
  background-color: rgb(255, 174, 144);
  background-image: url(https://www.xmple.com/wallpaper/linear-gradient-pink-orange-1920x1080-c2-c71585-ff8c00-a-60-f-14.svg), linear-gradient(#ff0, #ffc);
  background-repeat: no-repeat;
  background-position: center 100%;
  background-attachment: fixed;
  background-size: 150rem, 100%;
}

h1 {
  font-family: 'Acme';font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding-bottom: 5px;
}

h3 {
  font-family: 'Cambay';font-size: 10px;
  text-transform: lowercase;
  text-align: center;
  color: white;
}

h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Cambay';
  color: white;
}

h4 {
  font-size: 30px;
  font-family: 'Cambay';
  color: white;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
}

.top {
  font-family: 'Cambay';font-size: 20px;
  text-transform: uppercase;
  text-align: right;
  color: color: rgb(255, 74, 7);
  padding-top: 5px;
  padding-right: 5px;
}

p {
  font-size: 15px;
  font-family: 'Cambay';
  color: white;
  line-height: 1.5;
  text-align: center;
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Cambay';
  color: white;
}

hr {
    width: 55%;
     margin-top: 5px;
     margin-bottom: 5px;
     border: 1px solid white;
}

.grid {
  display: grid;
  grid-gap: .5em;
  display: flex;
 
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: center;
  
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 100px 100px 100px;
  
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
  
  grid-template-areas:
    "nav main box3 box4"
    "box5 box6 box7 box8"
    "box9 box10 box11 box12";
}

.box1 {
  text-align: center;
  border: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: nav;
}

.box2 {
  text-align: center;
  border: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
   grid-area: main;   
}

.box3 {
  text-align: center;
  border: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: box3;   
}

.box4 {
  text-align: center;
  border: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: box4;  
}

.box5 {
  text-align: center;
  border: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: box5;
}

.box6 {
  text-align: center;
  border: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: box6;  
}
.box7 {
  text-align: center;
  border: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: box7; 
}
  
.box8 {
  text-align: center;
  border: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: box8;
}

.box9 {
  text-align: center;
  border: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: box9;  
}

.box10 {
  text-align: center;
  border: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: box10;  
}

.box11 {
  text-align: center;
  border: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: box11;
}

.box12 {
  text-align: center;
  border: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-area: box12;; 
}

img {
  display: block;
  box-sizing: border-box;
}

.row {
  display: flex;
  padding-left: 250px;
  padding-right: 100px;
  align-content: center;
  justify-content: center;
  max-width: 900px;
  margin-bottom: 5px;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
  align-content: center;
  justify-content: center;
  width: 350px;
  height: 350px;
}

.one {
  font-size: 15px;
  font-family: 'Cambay';
  rgb(255, 238, 230);
  line-height: 1.5;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hide-show {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

.hide-show:target {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}


